@charset "utf-8";

.cards-wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.card-top {
	width: calc(25% - 44px);
    margin-right: 44px;
    margin-bottom: 56px;
}

.card-link {
	text-decoration: none;
    color: #212529;
}

.card-photo {
	width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    background-color: #F8F9FA;
    box-shadow: inset 0px 0px 0px 1px rgb(0 0 0 / 15%);
    box-sizing: border-box;
}

.card-photo img {
	position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid transparent;
}

.card-desc {
	margin-top: 12px;
}

.card-title {
	font-size: 16px;
    letter-spacing: -0.02px;
    color: #212529;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    line-height: 1.5;
    font-weight: normal;
}
.card-price {
	font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 4px;
}

.card-region-name {
	font-size: 13px;
    color: #212529;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    line-height: 1.5;
}

.card-counts {
	color: #868e96;
    font-size: 13px;
}

.home-hot-content {
	width: 1024px;
    margin: 6rem auto 12rem auto;
}