<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.satelite54.usetrading.model">

	<select id="getTime" resultType="java.sql.Date">
		SELECT sysdate FROM dual
	</select>

	<select id="getAllBoardList" resultType="com.satelite54.usetrading.model.board.dto.BoardDTO">
		SELECT 
			BNum,
			BTitle,
			BContent,
			BDate,
			id,
			authority,
			views
		FROM board
	</select>

	<select id="getBoardPageList" resultType="com.satelite54.usetrading.model.board.dto.BoardDTO">
		SELECT *
		FROM (
			SELECT *
		 	FROM board
			WHERE bTitle LIKE '%${Search,jdbcType=VARCHAR}%'
			ORDER BY BNum DESC
		) WHERE BNum BETWEEN #{boardStartNum,jdbcType=INTEGER} AND #{boardEndNum,jdbcType=INTEGER}
	</select>
	
	<select id="getBoardTotalCnt" resultType="java.lang.Integer">
		SELECT count(*)
		FROM board 
	</select>
</mapper>